{% extends 'CvsiteBundle:Default:index.html.twig' %}

{% block head %}
	<title>Experience Professionelle</title>
{% endblock %}
{% block body %}
<div class="body">
	<table class="table table-hover">
	  <tr>
	    <th class="tg-031e">Années</th>
	    <th class="tg-031e">Durée contrat</th>
	    <th class="tg-031e">Type contrat</th>
	    <th class="tg-031e">Emploi</th>
	    <th class="tg-031e">Entreprise</th>
	    <th class="tg-031e">Lieu</th>
	  </tr>
	  <tr>
	    <td class="tg-031e">04/15 - 09/15</td>
	    <td class="tg-031e">4 mois et demi</td>
	    <td class="tg-031e">Stage</td>
	    <td class="tg-031e">WebDeveloppeuse Symfony</td>
	    <td class="tg-031e"><a href="http://www.fabzat.com/fr/">Fabzat</a></td>
	    <td class="tg-031e">Bègles, FRANCE</td>
	  </tr>
	  <tr>
	    <td class="tg-031e">08/14 - 09/14</td>
	    <td class="tg-031e">1 mois et demi</td>
	    <td class="tg-031e">CDD</td>
	    <td class="tg-031e">Employée polyvalente</td>
	    <td class="tg-031e"><a href="https://www.mcdonalds.fr/?gclid=CPSqofi2g8gCFUHnwgodL3gCiQ">Mac Donalds</a></td>
	    <td class="tg-031e">Floirac, FRANCE</td>
	  </tr>
	  <tr>
	    <td class="tg-031e">04/14 - 07/14</td>
	    <td class="tg-031e">3 mois et demi</td>
	    <td class="tg-031e">CDD</td>
	    <td class="tg-031e">Ouvrière agricole</td>
	    <td class="tg-031e"><a href="http://www.chateaudelagrave.com/">Chateau de la Grave</a></td>
	    <td class="tg-031e">Bourg sur Gironde, FRANCE</td>
	  </tr>
	  <tr>
	    <td class="tg-031e">09/13 - 04/14</td>
	    <td class="tg-031e">7 mois</td>
	    <td class="tg-031e">CDD</td>
	    <td class="tg-031e">Garde d'enfants</td>
	    <td class="tg-031e"><a href="http://www.societe.com/societe/roi-des-services-534133624.html">Roi des Services</a></td>
	    <td class="tg-031e">Bordeaux, FRANCE</td>
	  </tr>
	  <tr>
	    <td class="tg-031e">04/13 - 07/13</td>
	    <td class="tg-031e">3 mois et demi</td>
	    <td class="tg-031e">CDD</td>
	    <td class="tg-031e">Ouvrière agricole</td>
	    <td class="tg-031e"><a href="http://www.chateaudelagrave.com/">Chateau de la Grave</a></td>
	    <td class="tg-031e">Bourg sur Gironde, FRANCE</td>
	  </tr>
	  <tr>
	    <td class="tg-031e">09/13 - 11/13</td>
	    <td class="tg-031e">3 mois</td>
	    <td class="tg-031e">Interim</td>
	    <td class="tg-031e">Inventoriste</td>
	    <td class="tg-031e"><a href="http://www.rgis-job.fr/">RGIS</a></td>
	    <td class="tg-031e"></td>
	  </tr>
	</table>
</div>
{%endblock%}