{% extends 'CvsiteBundle:Default:index.html.twig' %}
{% block head %}
	<title>Projets</title>
{% endblock %}
{% block body %}
<div class="projets">
	<h1>Projets Informatiques</h1>
	<img src="{{ asset('bundles/cvsite/images/projets/bgf/wallpaper.jpg') }}" alt="Projets Informatiques" class="img-thumbnail"/>
</div>
<div class="projets">
	<h1>Lans & Salons</h1>
	<img src="{{ asset('bundles/cvsite/images/projets/logobgf.jpg') }}" alt="Lans & Salons" class="img-thumbnail"/>
</div>
<div class="projets">
	<h1>Vie associative</h1>
	<img src="{{ asset('bundles/cvsite/images/projets/ab2g.jpg') }}" alt="Vie associative" class="img-thumbnail"/>
</div>

{%endblock%}