{% extends 'CvsiteBundle:Default:index.html.twig' %}
{% block head %}
	<title>Mettre à jour parcours éducatif</title>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}